<tr>
  <td><%= counter %></td>
  <td><%= (property.unit_number.is_a? Numeric) ? property.unit_number.to_i.to_s : property.unit_number.to_s %></td>
  <td><%= (property.house_number.is_a? Numeric) ? property.house_number.to_i.to_s : property.house_number.to_s %></td>
  <td><%= property.street %></td>
  <td><%= property.suburb %></td>
  <td><%= property.state %></td>
  <td><%= property.postcode.to_i.to_s %></td>
  <td><%= property.investment_property? ? 'Investment' : 'Home' %></td>
  <td><%= property.sold? ? 'true' : 'false'%></td>
</tr>