<div class="row">
  <%= form_for [:admin,@admin] ,class: "form-horizontal " do |f| %>
    <div class="col-md-8">
      <% if @admin.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field token-holder">
        <%= f.label :email, class: "control-label" %>
        <% f.text_field :email, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :encryped_password %>
        <%= f.text_field :encryped_password %>
      </div>
      <div class="field">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Admin.statuses) %>
      </div>


      <div class="actions">
        <%= f.submit 'Save', :class => 'btn btn-success' %>
      </div>
    </div>

  <% end %>
</div>