<div class="col-sm-12"  style="margin: 0 2%">
	<div class="col-sm-12">
		<h2> Hey There! </h2>
		<p>
			Thank you for using PropertySMS, here are your instructions on how to import contacts into your mobile app.
		</p>

		<p>
			Please find attached an example spreadsheet. Add your contacts to this spreadsheet and send it back to us at this address: <b>admin@propertysms.com.au</b>
		</p>
		<p>
			Please ensure the information you submit is as accurate as possible. Note that house numbers that include letters should we written using only numbers (ie. 7B Main St should be written as 2/7 Main St). This is for the purpose of locating the property correctly, and will not be reflected in the content of any of the messages generated.
		</p>
		<p>
		We promise never to disclose your details, or the details of your contacts, to any third parties. This is in accordance with our strict privacy policy.
		</p>

		<p>After submitting your contacts by email, your contacts will be added within 24 hours.</p>
		<p>
		Please check your app in 24 hours. If PropertySMS cannot recognise the addresses you provide for any of your contacts, those contacts will appear in your contact list in red. If this happens, check the details for those contacts.
		</p>
		<p>
		Once you have added your contacts, all you need to do is wait for PropertySMS to start generating messages for you!
		</p>
		<p>
		Thank you for using PropertySMS. We appreciate the opportunity to help you grow your business.
		</p>
		<br/>
		<p>
		<b>Best Regards,</b>
		</p>
		<p>
		<b>The PropertySMS Team</b>
		</p>
</div>
<!-- <h2>Hey there,</h2>
<br>
<p>
	Here are your instructions on how to import contacts into your PropertySMS mobile app.
</p>
<p>
	Please find attached an example spreadsheet. Add your contacts to this spreadsheet and send it back to us at this address: admin@propertysms.com.au	
</p>
<p>
	Please ensure the information you submit is as accurate as possible.
</p>
<p>
	We promise never to disclose your details, or the details of your contacts, to any third parties. This is in accordance with our strict privacy policy.
</p>	
<p>
	After submitting your contacts by email, your contacts will be added within 24 hours.
</p>
<p>
	Please check your app in 24 hours, and press Contacts>Sync to complete the process. This will check that the addresses you have submitted are verified.	
</p>
<p>
	Thank you for using PropertySMS. We appreciate the opportunity to help you grow your business.
</p>	
 -->