<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Sold Properties</li>
  </ol>
</div><!--/.row-->
	
	<div class="row">
		<div class="col-sm-12">
			<%= form_tag import_admins_sold_properties_path, multipart: true ,class: "form-inline bottom-indent",:method => :post do %>
			<div class="col-sm-5">
				<div class="form-group">
						<%= file_field_tag :file , accept: 'xlsx',:class=>"form-control",:required => true%>
						<%= submit_tag "Import" ,class: "btn btn-primary"%>
				</div>
			</div>
			<div class="col-sm-4">
				It only support xlsx and xls files. Please match the header given as in sample file before importing.There should only be one sheet in excel file.
				<%= link_to "Download Sample", sample_admins_sold_properties_path(:format => "xlsx") ,:class => ""%>

			</div>
			<% end %>
		</div>
	</div>

<% unless @property_count == 0 %>
			<div class="row">
				<div class="row">
				  <div class="col-sm-12">
				    <div class="pull-right">
				      <form>
				        <div class="dataTables_filter" id="datatable_filter">
				          <label>
				          	<div id="sandbox-container1">
				          		<input type="text"  name="s" maxlength="100"  value="<%= params[:s] %>" aria-controls="datatable" class="form-control" placeholder=" ">
				          	</div>
				          </label>
				          <button class="search-btn pull-right">
				              <input type="submit" class="btn btn-primary" value="Submit">
				              <i class="fa fa-search"></i>
				          </button>
				        </div>
				      </form>
				    </div>
				    <div class="clearfix"></div>
				  </div>
				</div>
				<% if @sold_properties.count == 0 %>
					<div class="col-sm-12">
					  <div class="col-lg-12">
					    <div class="panel panel-default">
					      <div class="panel-body">
					          <table class="table table-responsive">
					            <tr><td>No Record Found.</td></tr>
					          </table>
					      </div>
					    </div>
					  </div>
					</div>
	  		<% else %>
	  			<%= form_tag remove_admins_sold_properties_path,:method => :delete,class: "positions" do %>
				<div class="row " id="checkbox-container">
					<div class="col-sm-12">
						<div style="overflow-x:auto;">
				   <%#= form_tag(import_admins_user_path, method: "get") do %>
				   			<%= submit_tag "Delete",class: "btn btn-danger fixed"%>
							<table class="table table-striped table-bordered bottom-indent">
							<thead>
								<th><input type="checkbox" id="checkAll" /></th>
								<th>Address ID</th>
								<th>FlatNumber	</th>
								<th>StreetNumber	</th>
								<th>StreetName	</th>
								<th>StreetType	</th>
								<th>Suburb	</th>
								<th>Postcode	</th>
								<th>State	</th>
								<th>EventDate	</th>
								<th>EventPrice	</th>
								<th>EventTypeCode	</th>
								<th>PropertyType	</th>
								<th>ContractDate	</th>
								<th>TransactionDate	</th>
								<th>AreaSize	</th>
								<th>Bedrooms	</th>
								<th>Baths	</th>
								<th>Parking</th>
							</thead>
							<tbody>
									<% @sold_properties.each_with_index do |c, index| %>
										<tr>
											<td><%= check_box_tag 'sold_properties_ids[]', c.id %>
											</td>
											<td><%= c["address_id"]%></td>
											<td><%= c["flat_number"]%></td>
											<td><%= c["street_number"]%></td>
											<td><%= c["street_name"]%></td>
											<td><%= c["street_type"]%></td>
											<td><%= c["suburb"]%></td>
											<td><%= c["postcode"]%></td>
											<td><%= c["state"]%></td>
											<td><%= c["event_date"]%></td>
											<td><%= c["event_price"]%></td>
											<td><%= c["eventtype_code"]%></td>
											<td><%= c["property_type"]%></td>
											<td><%= c["contract_date"]%></td>
											<td><%= c["transacation_date"]%></td>
											<td><%= c["areasize"]%></td>
											<td><%= c["bedrooms"]%></td>
											<td><%= c["baths"]%></td>
											<td><%= c["parking"]%></td>
										</tr>
									<% end %>
								<% end %>
							</tbody>
						</table>
					</div>
					<%= submit_tag "Delete",class: "btn btn-danger fixed"%>
					<div class="fixed-table-pagination">
					  <div class="pull-right pagination">
					    <%= will_paginate @outros, renderer: BootstrapPagination::Rails %>
					  </div>
					</div>
				</div> 
				<%#= link_to raw('<i class="fa fa-chevron-left "></i>Back'), request.headers["HTTP_REFERER"], class: 'btn btn-danger top-indent' %>
				</div>
			<% end %>
		</div>
<% end %>