<%= form_for [:admins, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, class: "control-label" %>
    <%= f.text_field :email, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :first_name, class: "control-label" %>
    <%= f.text_field :first_name, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :last_name ,class: "control-label"%>
    <%= f.text_field :last_name, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :company, class: "control-label"%>
    <%= f.text_field :company, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :mobile_number, class: "control-label"%>
    <%= f.text_field :mobile_number, class: "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit 'Update', :class => 'btn btn-success' %> | 
    <%= link_to 'Show', ['admins', @user], class: 'btn btn-success' %>
    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_users_path, class: 'btn btn-danger' %>
  </div>
<% end %>