<div class="col-md-4">
  <div class="operator">
    <h2>SELECT USERS</h2>
    <span>You can assign all or specific user(s).</span>
    <span class="all-s">
      <%= f.check_box :all_users, { id: 'all_users'} %>
      <label for="all_users"><span>Select All</span></label>
    </span>
    <%= select_tag 'users', options_from_collection_for_select(@users, 'id', 'full_name', user_ids), {:multiple => true} %>
  </div>
</div>
<script>
  $(document).on('ready page:load', function () {
    select_users();

    modify_options();
    
    $('#all_users').on('change', function() {
      modify_options();
      $("option:selected").prop("selected", false);
    });
    
    function modify_options() {
      if ($("#all_users").is(":checked")) {
            $('.operator option').css("box-shadow","0 0 0 14px #fff inset");
             $("#token-container").tokenfield("destroy");
             $("#token-container").val("");
             $("#token-container")
             .tokenfield();
             $('#users').attr('disabled', 'disabled');
         }
         else {
            $("#users option").removeAttr("style");
            $('#users').removeAttr('disabled');
         }
    }
  });
</script>