<td><%= count %></td>
<td><%= user.first_name %> <%= user.last_name %></td>
<td><%= user.company %></td>
<td><%= user.mobile_number %></td>
<td><%= user.email %></td>
<td><%= link_to 'View', ['admins', user] %></td>
<td><%= link_to 'Edit', edit_admins_user_path(user) %></td>
<td><%= link_to 'Delete', ['admins', user], method: :delete, data: { confirm: "Are you sure?" } %></td>
<td><%= link_to 'Contacts', contacts_admins_user_path(user) %></td>
<td><%= link_to 'Import', import_contacts_admins_user_path(user) %></td>
<td><%= link_to 'Intros', intros_admins_user_path(user) %></td>
<td><%= link_to 'Template', templates_admins_user_path(user) %></td>
<td><%= link_to 'Outros', outros_admins_user_path(user) %></td>
<td><%= link_to 'Reset Password', resend_password_admins_user_path(user) %></td>