<table class="table table-condensed">
  <tbody>
    <tr>
      <td width="20%">Name:</td>
      <td><%= @user.first_name %> <%= @user.last_name%></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Company name:</td>
      <td><%= @user.company %></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Email:</td>
      <td><%= @user.email %><b</td>
    </tr>
  </tbody>
</table>
<br /><br />