<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><%= @user.first_name %> <%= @user.last_name%>: Contacts</li>
  </ol>
</div>
<div class="row">
  <div class="user-info column">
    <%= render partial: 'user_info' %>
    <table class="table table-responsive">
      <% if @user.contacts.size == 0 %>
        <tr><td>No Record Found.</td></tr>
      <% else %>
        <thead>
          <tr>
            <th>S.NO.</th>
            <th>Contact First Name</th>
            <th>Contact Surname</th>
            <th>Mobile No.</th>
            <th>Partner First Name</th>
            <th>Partner Last Name</th>
<!--             <th>Partner Mobile Number</th> -->
          </tr>
        </thead>
        <tbody>
          <% counter = 1 %>
          <% @user.contacts.order(:first_name).each do |contact| %>
            <%= render contact, :counter => counter %>
            <% counter += 1 %>
          <% end %>
        </tbody>
      <% end %>
    </table>

    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_users_path, class: 'btn btn-danger'  %>
  </div>
</div>
