<div class="row">
<div class="col-sm-12">
  <ol class="breadcrumb ">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Import contacts</li>
  </ol>
  </div>
</div><!--/.row-->

<% if @contact_array.blank?%>
	<div class="row">
		<div class="col-sm-12">
			<%= form_tag import_contacts_admins_user_path, multipart: true ,class: "form-horizontal bottom-indent" do %>
			
			<div class="form-group">
				<div class="col-sm-5">
					<%= file_field_tag :file , accept: 'text/xlsx',:class=>"form-control",:required => true%>
					<%= hidden_field_tag :id , params[:id] %>
				</div>
				<div class="col-sm-4">
					It only support xlsx and xls files. Please match the header given as in sample file before importing.There should only be one sheet in excel file.
					<%= link_to "Download Sample", sample_admins_users_path(:format => "xlsx") ,:class => ""%>
				</div>
			</div>

				<% if @contact_array.blank?%>
					<%= link_to raw('<i class="fa fa-chevron-left "></i>Back'), admins_users_path, class: 'btn btn-danger top-indent' %>
				<% end %>

				<%= submit_tag "Import" ,class: "btn btn-primary top-indent"%>
			<% end %>
		</div>
	</div>
<% end %>

<% unless @contact_array.blank?%>
	<div class="row">
		<div class="col-sm-12">
	   <%= form_tag(import_admins_user_path, method: "post") do %>
	   	<div style="overflow-x:auto;">
			<table class="table table-striped table-bordered bottom-indent">
			<thead>
				<th><input type="checkbox" id="checkAll" /></th>
				<th>First Name</th>
				<th>Last Name</th>
				<th> Mobile Number</th>
				<th>Partner First Name</th>
				<th>Partner Last Name</th>
				<th> Unit Number1</th>
				<th> House Number1 </th>
				<th>Street1</th>
				<th> Suburb1 </th>
				<th> State1</th>
				<th>Post Code1</th>
				<th>Investment Property1</th>
				<th> Unit Number2</th>
				<th> House Number2 </th>
				<th>Street2</th>
				<th> Suburb2 </th>
				<th> State2</th>
				<th>Post Code2</th>
				<th>Investment Property2</th>
				<th> Unit Number3</th>
				<th> House Number3 </th>
				<th>Street3</th>
				<th> Suburb3 </th>
				<th> State3</th>
				<th>Post Code3</th>
				<th>Investment Property3</th>
			</thead>
			<tbody id="checkbox-container">
				<% @contact_array.each_with_index do |c, index| %>
					<%
					 if c["Investment Property1"] == "TRUE" or c["Investment Property1"] == "true" or c["Investment Property1"] == 1.0 or c["Investment Property1"] == 1
					 	c["Investment Property1"] = true
					 end

					 if c["Investment Property1"] == "FALSE" or c["Investment Property1"] == "false" or c["Investment Property1"] == 0.0 or c["Investment Property1"] == 0
					 	c["Investment Property1"] = false
					 end

					 if c["Investment Property2"] == "TRUE" or c["Investment Property2"] == "true" or c["Investment Property2"] == 1.0 or c["Investment Property2"] == 1
					 	c["Investment Property2"] = true
					 end

					 if c["Investment Property2"] == "FALSE" or c["Investment Property2"] == "false" or c["Investment Property2"] == 0.0 or c["Investment Property2"] == 0
					 	c["Investment Property2"] = false
					 end

					 if c["Investment Property3"] == "TRUE" or c["Investment Property3"] == "true" or c["Investment Property3"] == 1.0 or c["Investment Property3"] == 1
					 	c["Investment Property3"] = true
					 end

					 if c["Investment Property3"] == "FALSE" or c["Investment Property3"] == "false" or c["Investment Property3"] == 0.0 or c["Investment Property3"] == 0
					 	c["Investment Property3"] = false
					 end

					 	%>
					<tr>
						<td><%= check_box_tag 'contact_ids[]', index+2 %>
							<%= hidden_field_tag :file,@file%>
						</td>
						<td><%= c["First Name"]%></td>
						<td><%= c["Last Name"]%></td>
						<td><%= (c["Mobile Number"].is_a? Numeric) ? c["Mobile Number"].to_i.to_s : c["Mobile Number"]  %></td>
						<td><%= c["Partner First Name"]%></td>
						<td><%= c["Partner Last Name"]%></td>
						<td><%= (c["Unit Number1"].is_a? Numeric) ? c["Unit Number1"].to_i.to_s : c["Unit Number1"] %></td>
						<td><%= (c["House Number1"].is_a? Numeric) ? c["House Number1"].to_i.to_s : c["House Number1"] %></td>
						<td><%= (c["Street1"].is_a? Numeric) ? c["Street1"].to_i.to_s : c["Street1"] %></td>
						<td><%= c["Suburb1"]%></td>
						<td><%= (c["State1"].is_a? Numeric) ? c["State1"].to_i.to_s :  c["State1"] %></td>
						<td><%= (c["Post Code1"].is_a? Numeric) ?  c["Post Code1"].to_i.to_s : c["Post Code1"]%></td>
						<td><%= c["Investment Property1"]%></td>
						<td><%= (c["Unit Number2"].is_a? Numeric) ? c["Unit Number2"].to_i.to_s : c["Unit Number2"] %></td>
						<td><%= (c["House Number2"].is_a? Numeric) ? c["House Number2"].to_i.to_s : c["House Number2"] %></td>
						<td><%= (c["Street2"].is_a? Numeric) ? c["Street2"].to_i.to_s : c["Street2"] %></td>
						<td><%= c["Suburb2"]%></td>
						<td><%= (c["State2"].is_a? Numeric) ? c["State2"].to_i.to_s : c["State2"]%></td>
						<td><%= (c["Post Code2"].is_a? Numeric) ? c["Post Code2"].to_i.to_s : c["Post Code2"]%></td>
						<td><%= c["Investment Property2"]%></td>
						<td><%= (c["Unit Number3"].is_a? Numeric) ? c["Unit Number3"].to_i.to_s : c["Unit Number3"] %></td>
						<td><%= (c["House Number3"].is_a? Numeric) ? c["House Number3"].to_i.to_s : c["House Number3"] %></td>
						<td><%= (c["Street3"].is_a? Numeric) ?  c["Street3"].to_i.to_s :  c["Street3"] %></td>
						<td><%= c["Suburb3"] %></td>
						<td><%= (c["State3"].is_a? Numeric) ? c["State3"].to_i.to_s : c["State3"] %></td>
						<td><%= (c["Post Code3"].is_a? Numeric) ? c["Post Code3"].to_i.to_s : c["Post Code3"]%></td>
						<td><%= c["Investment Property3"]%></td>
					</tr>
				<% end %>
			</tbody>
		</table> 
	</div>
		<%= submit_tag("Save" ,class: "btn btn-success top-indent")%>
		<%= link_to raw('<i class="fa fa-chevron-left "></i>Back'), request.headers["HTTP_REFERER"], class: 'btn btn-danger top-indent' %>
		<% end %>
		</div>
	</div>
<% end %>
