<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Users</li>
  </ol>
</div><!--/.row-->

<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <form>
        <div class="dataTables_filter" id="datatable_filter">
          <label>
            <input type="text" name="s" maxlength="100"  value="<%= params[:s] %>" aria-controls="datatable" class="form-control" placeholder=" ">
          </label>
          <button class="search-btn pull-right">
              <input type="submit" class="btn btn-primary" value="Submit">
              <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div> 
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @users.count == 0 %>
          <table class="table table-responsive">
            <tr><td>No Record Found.</td></tr>
          </table>
        <% else %>
          <table data-toggle="table" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-search="true" data-select-item-name="toolbar1" data-pagination="false" data-sort-name="name" data-sort-order="desc" class="table table-hover">
            <thead>
              <tr>
                  <th>S.NO</th>
                  <th>User Name</th>
                  <th>Company Name</th>
                  <th>Mobile Number</th>
                  <th>Email</th>
                  <th colspan="3">Actions</th>
                  <th colspan="4"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <%@count = 0 %>
                <% @users.each do |user| %>
                <%@count +=1 %>
                  <tr>
                    <%= render user,:count => @count %>
                  </tr>
                <% end %>
              </tr>
            </tbody>
          </table>
          <div class="fixed-table-pagination">
            <div class="pull-right pagination">
              <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div><!--/.row-->