<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><%= @user.first_name %> <%= @user.last_name%>: Intros</li>
  </ol>
</div>
<div class="row">
  <div class="user-info column">
    <%= render partial: 'user_info' %>
    <%= form_tag(intros_save_admins_user_path) do %>
      <table class="table table-responsive">
        <% if @intros.count == 0 %>
          <tr><td>No Record Found.</td></tr>
        <% else %>
          <% intros_ids = @user.intros.pluck(:intro_id) %>
          <thead>
            <tr>
              <th>S.NO.</th>
              <th>Select All</th>
              <th><input type="checkbox" id="checkAll" /></th>
              <th>Intros</th>
            </tr>
          </thead>
          <tbody id="checkbox-container">
            <% counter = 1 %>
            <% @intros.each do |intro| %>
              <tr>
                <td><%= counter %></td>
                <td>
                  <% if intro.all_users?%>
                    Yes
                  <%else%>
                    No
                  <% end %>
                </td>
                <td>
                <% unless intro.all_users?%>
                  <input type="checkbox" name="intro[]" value="<%= intro.id %>" <%= 'checked="checked"' if intros_ids.include?(intro.id) %> />
                <% end %>
                </td>
                <td><%= intro.message %></td>
              </tr>
              <% counter += 1 %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <div class="actions">
                  <%= submit_tag 'Save', :class => 'btn btn-success' %>
                </div>
              </td>
            </tr>
          </tfoot>
        <% end %>
      </table>
    <% end %>
    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_users_path, class: 'btn btn-danger'  %>
  </div>
</div>