<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><%= @user.first_name %> <%= @user.last_name%>: Outros</li>
  </ol>
</div>
<div class="row">
  <div class="user-info column">
    <%= render partial: 'user_info' %>
    <%= form_tag(outros_save_admins_user_path) do %>
      <table class="table table-responsive">
        <% if @outros.count == 0 %>
          <tr><td>No Record Found.</td></tr>
        <% else %>
          <% outros_ids = @user.outros.pluck(:outro_id) %>
          <thead>
            <tr>
              <th>S.NO.</th>
              <th>Selected All</th>
              <th><input type="checkbox" id="checkAll" /></th>
              <th>Outros</th>
            </tr>
          </thead>
          <tbody id="checkbox-container">
            <% counter = 1 %>
            <% @outros.each do |outro| %>
              <tr>
                <td><%= counter %></td>
                <td>
                  <% if outro.all_users?%>  
                    yes
                  <% else %>
                    No
                  <% end %>
                </td>
                <td>
                <% unless outro.all_users?%>
                  <input type="checkbox" name="outro[]" value="<%= outro.id %>" <%= 'checked="checked"' if outros_ids.include?(outro.id) %> />
                <% end %>
                </td>
                <td><%= outro.message %></td>
              </tr>
              <% counter += 1 %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <div class="actions">
                  <%= submit_tag 'Save', :class => 'btn btn-success' %>
                </div>
              </td>
            </tr>
          </tfoot>
        <% end %>
      </table>
    <% end %>
    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_users_path, class: 'btn btn-danger'  %>
  </div>
</div>