<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">User View page</li>
  </ol>
</div><!--/.row-->
<div class="row">
  <div class="user-info column">
    <table class="table table-responsive">
      <tr>
        <td width="20%">User Id:</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>First name:</td>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>Last name:</td>
        <td><%= @user.last_name%></td>
      </tr>
      <tr>
        <td>Company name:</td>
        <td><%= @user.company %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Mobile number:</td>
        <td><%= @user.mobile_number %></td>
      </tr>
    </table>

    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_users_path, class: 'btn btn-danger'  %>
  </div>
</div>