<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><%= @user.first_name %> <%= @user.last_name%>: Templates</li>
  </ol>
</div>
<div class="row">
  <div class="user-info column">
    <%= render partial: 'user_info' %>
    <%= form_tag(templates_save_admins_user_path) do %>
      <table class="table table-responsive">
        <% if @templates.count == 0 %>
          <tr><td>No Record Found.</td></tr>
        <% else %>
          <% templates_ids = @user.templates.pluck(:template_id) %>
          <thead>
            <tr>
              <th>S.NO.</th>
              <th><input type="checkbox" id="checkAll" /></th>
              <th>Templates</th>
            </tr>
          </thead>
          <tbody id="checkbox-container">
            <% counter = 1 %>
            <% @templates.each do |template| %>
              <tr>
                <td><%= counter %></td>
                <td><input type="checkbox" name="template[]" value="<%= template.id %>" <%= 'checked="checked"' if templates_ids.include?(template.id) %> /></td>
                <td><%= template.message %></td>
              </tr>
              <% counter += 1 %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <div class="actions">
                  <%= submit_tag 'Save', :class => 'btn btn-success' %>
                </div>
              </td>
            </tr>
          </tfoot>
        <% end %>
      </table>
    <% end %>
    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_users_path, class: 'btn btn-danger'  %>
  </div>
</div>