<div class="row">
  <%= form_for [:admins, @suburb] ,:class=> "form-horizontal" do |f| %>
    <div class="col-md-8">
      <% if @suburb.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@suburb.errors.count, "error") %> prohibited this suburb from being saved:</h2>
          <ul>
          <% @suburb.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field ">
        <%= f.label :state ,class: "control-label"%>
        <%= f.text_field :state ,:class => "form-control"%>
      </div>
      <div class="field">
        <%= f.label :address ,class: "control-label"%>
        <%= f.text_field :address ,:class => "form-control"%>
      </div>
      <div class="field">
        <%= f.label :close_range ,class: "control-label"%>
        <%= f.text_field :close_range,:class => "form-control"%>
      </div>
      <div class="field">
        <%= f.label :medium_range ,class: "control-label"%>
        <%= f.text_field :medium_range ,:class => "form-control"%>
      </div>

      <div class="actions">
        <%= f.submit 'Save', :class => 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>