<td><%= counter %></td>
<td><%= suburb.state %></td>
<td><%= suburb.address %></td>
<td><%= suburb.close_range%></td>
<td><%= suburb.medium_range%></td>
<td><%= link_to 'View', ['admins', suburb] %></td>
<td><%= link_to 'Edit', edit_admins_suburb_path(suburb) %></td>
<td><%= link_to 'Delete', ['admins', suburb], method: :delete, data: { confirm: "Are you sure?" } %></td>