<div class="row">
	<ol class="breadcrumb">
	  <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
	  <li class="active">Edit Suburb</li>
	</ol>
</div><!--/.row-->
<%= render 'form' %>
<br>
<%= link_to 'Show', ['admins', @suburb], class: 'btn btn-success' %>
<%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_suburbs_path, class: 'btn btn-danger' %>