<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Suburb View page</li>
  </ol>
</div><!--/.row-->
<div class="row">
  <div class="user-info column">
    <table class="table table-responsive">
      <tr>
        <td width="20%">Suburb Id:</td>
        <td><%= @suburb.id %></td>
      </tr>
      <tr>
        <td>Suburb Address:</td>
        <td><%= @suburb.address %></td>
      </tr>
      <tr>
        <td>Close Range:</td>
        <td><%= @suburb.close_range %></td>
      </tr>
      <tr>
        <td>Medium Range:</td>
        <td><%= @suburb.medium_range %></td>
      </tr>
    </table>

    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_suburbs_path, class: 'btn btn-danger'  %>
  </div>
</div>