<tr>
  <td><%= counter %></td>
  <td><%= contact.first_name %></td>
  <td><%= contact.last_name %></td>
  <td><%= contact.mobile_number.to_i.to_s %></td>
  <td><%= contact.partner_first_name %></td>
  <td><%= contact.partner_last_name %></td>
  <!-- <td><%#= contact.partner_mobile_number %></td> -->
</tr>
<% if contact.properties.size == 0 %>
	<tr><!-- <td></td><td colspan="3">No Record Found.</td> --></tr>
<% else %>
	<tr>
		<td colspan="7" style="padding-left: 10%">
			<table class="table table-responsive">
			    <thead>
			      <tr>
			      	<th>S.No.</th>
			        <th>Unit No.</th>
			        <th>House No.</th>
			        <th>Street</th>
			        <th>Suburb</th>
			        <th>State</th>
			        <th>Postcode</th>
			        <th>Home Or Investment</th>
			        <th>Sold</th>
			      </tr>
			    </thead>
			    <tbody>
			      <% counter1 = 1 %>
			      <% contact.properties.each do |property| %>
			        <%= render property, counter: counter1 %>
			        <% counter1 += 1 %>
			      <% end %>
			    </tbody>
			</table>
		</td>
	</tr>
<% end %>