<div class="row">
  <%= form_for [:admins, @outro] do |f| %>
    <div class="col-md-8">
      <% if @outro.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@outro.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @outro.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field token-holder">
        <%= f.label :User_name %>
        <div id="token-container" class="token-holder"></div>
      </div>
      <div class="field mess">
        <%= f.label :Use_these_in_message %>
        <div class="holder">
          <button type="button" value="[ Contact First Name ]" data-input="outro_message" class="in_message">Contact First Name</button>
          <button type="button" value="[ Contact Last Name ]" data-input="outro_message" class="in_message">Contact Last Name</button>
          <button type="button" value="[ Partner First Name ]" data-input="outro_message" class="in_message">Partner First Name</button>
          <button type="button" value="[ Partner Last Name ]" data-input="outro_message" class="in_message">Partner Last Name</button>

          <button type="button" value="[ User First Name ]" data-input="outro_message" class="in_message">User First Name</button>
          <button type="button" value="[ User Last Name ]" data-input="outro_message" class="in_message">User Last Name </button>
          <button type="button" value="[ Company Name ]" data-input="outro_message" class="in_message">Company Name</button>

          <!-- <button type="button" value="[ CONTACT NAME ]" data-input="outro_message" class="in_message">Contact Name</button>
          <button type="button" value="[ USER NAME ]" data-input="outro_message" class="in_message">User Name</button>
          <button type="button" value="[ COMPANY NAME ]" data-input="outro_message" class="in_message">Company Name</button> -->
        </div>
      </div>
      <div class="field mess">
        <%= f.label :Outros_message %>
        <%= f.text_area :message, :rows => 5, :cols => 100 %>
      </div>
      <div class="field">
        <%= f.label :Character_count %>
        <%= text_field_tag :character_count, '', disabled: true %>
      </div>

      <div class="actions">
        <%= f.submit 'Save', :class => 'btn btn-success' %>
      </div>
    </div>
    <%= render partial: 'admins/users/select_users', locals: {:f => f, :user_ids => @outro.users.pluck(:user_id) } %>
  <% end %>
</div>