<td><%= counter %></td>
<td><%= outro.message %></td>
<td><%= link_to 'View', ['admins', outro] %></td>
<td><%= link_to 'Edit', edit_admins_outro_path(outro) %></td>
<td><%= link_to 'Delete', ['admins', outro], method: :delete, data: { confirm: "Are you sure?" } %></td>