<td><%= counter %></td>
<td><%= admin.email %></td>
<td><%= admin.encrypted_password%></td>
<td><%= admin.status%></td>
<td><%= link_to 'View', ['admins', admin] %></td>
<td><%= link_to 'Edit', edit_admins_admin_path(admin) %></td>
<td><%= link_to 'Delete', ['admins', admin], method: :delete, data: { confirm: "Are you sure?" } %></td>