<div class="row">
  <%= form_for [:admins,@admin] , class: "form-horizontal " do |f| %>
    <div class="col-md-8">
      <% if @admin.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field token-holder">
        <%= f.label :email,class: "control-label" %>
        <%= f.text_field :email ,class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password ,class: "control-label"%>
        <%= f.password_field :password ,class: "form-control"%>
      </div>
      <div class="field form-inline">
        <%= f.label :status ,class: "control-label"%>
        <%= f.select :status, options_for_select(Admin.statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @admin.status), {} , class: "form-control" %>
      </div>


      <div class="actions">
        <%= f.submit 'Save', :class => 'btn btn-success' %>
      </div>
    </div>

  <% end %>
</div>