<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Admin View page</li>
  </ol>
</div><!--/.row-->
<div class="row">
  <div class="user-info column">
    <table class="table table-responsive">
      <tr>
        <td width="20%">Admin Id:</td>
        <td><%= @admin.id %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= @admin.email %></td>
      </tr>

      <tr>
        <td>Password:</td>
        <td><%= @admin.encrypted_password %></td>
      </tr>
    </table>

    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_admins_path, class: 'btn btn-danger'  %>
  </div>
</div>