<td><%= counter %></td>
<td><%= intro.message %></td>
<td><%= link_to 'View', ['admins', intro] %></td>
<td><%= link_to 'Edit', edit_admins_intro_path(intro) %></td>
<td><%= link_to 'Delete', ['admins', intro], method: :delete, data: { confirm: "Are you sure?" } %></td>