<div class="col-sm-12"  style="margin: 0 2%">
	<div class="col-sm-12">

<p> Welcome to PropertySMS! </p>

<p>
	We are excited that you have joined us, and we look forward to helping you grow your business.
</p>

<p>
	Please confirm your email by clicking the link below.<b> <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></b>
</p>

<b>
Thank you.
<br/>
The PropertySMS Team
</b>

</div>
</div>