<div class="row">
  <%= form_for [:admins, @template] do |f| %>
    <div class="col-md-8">
      <% if @template.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@template.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @template.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field token-holder">
        <%= f.label :User_name %>
        <div id="token-container" class="token-holder"></div>
      </div>
      <div class="field">
        <%= f.label :Template_group %>
        <%= f.select "group", options_for_select(['A','B','C', 'D', 'E'], :selected => f.object.group) %>
      </div>
      <div class="field mess">
        <%= f.label :Use_these_in_message %>
        <div class="holder">
          <button type="button" value="[ LISTING ADDRESS ]" data-input="template_message" class="in_message">Listing Address</button>
          <button type="button" value="[ FULL LISTING ADDRESS ]" data-input="template_message" class="in_message">Full Listing Address</button>
          <button type="button" value="[ DISTANCE ]" data-input="template_message" class="in_message">Distance</button>
          <button type="button" value="[ $XXXXXX ]" data-input="template_message" class="in_message">$XXXXXX</button>
          <button type="button" value="[ BxB ]" data-input="template_message" class="in_message">BxB</button>
          <button type="button" value="[ STREET ]" data-input="template_message" class="in_message">STREET</button>
          <button type="button" value="[ STREET IF INVESTMENT ]" data-input="template_message" class="in_message">Street If Investment</button>
        </div>
      </div>
      <div class="field mess">
        <%= f.label :Template_message %>
        <%= f.text_area :message, :rows => 5, :cols => 100 %>
      </div>
      <div class="field">
        <%= f.label :Character_count %>
        <%= text_field_tag :character_count, '', disabled: true %>
      </div>

      <div class="actions">
        <%= f.submit 'Save', :class => 'btn btn-success' %>
      </div>
    </div>
    <%= render partial: 'admins/users/select_users', locals: {:f => f, :user_ids => @template.users.pluck(:user_id) } %>
  <% end %>
</div>