<td><%= counter %></td>
<td><%= template.message %></td>
<td><%= template.group %></td>
<td><%= link_to 'View', ['admins', template] %></td>
<td><%= link_to 'Edit', edit_admins_template_path(template) %></td>
<td><%= link_to 'Delete', ['admins', template], method: :delete, data: { confirm: "Are you sure?" } %></td>