<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Templates</li>
  </ol>
</div><!--/.row-->

<div class="row">
  <div class="col-sm-12">
    <form id="template_list">
      <div class="col-md-2">
        <%= link_to raw('<i class="fa fa-plus">&nbsp;</i> Add'), new_admins_template_path, class: 'btn btn-success' %>
      </div>
      <div class="col-md-2">
        <%= select_tag "g", options_for_select(['All','A','B','C', 'D', 'E'], :selected => params[:g]), id: 'template_group' %>
      </div>
      <div class="pull-right">
        <div class="dataTables_filter" id="datatable_filter">
          <label>
            <input type="text" name="s" maxlength="100"  value="<%= params[:s] %>" aria-controls="datatable" class="form-control" placeholder=" ">
          </label>
          <button class="search-btn pull-right">
              <input type="submit" class="btn btn-primary" value="Submit">
              <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div> 
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @templates.count == 0 %>
          <table class="table table-responsive">
            <tr><td>No Record Found.</td></tr>
          </table>
        <% else %>
          <table data-toggle="table" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-search="true" data-select-item-name="toolbar1" data-pagination="false" data-sort-name="name" data-sort-order="desc" class="table table-hover">
            <thead>
              <tr>
                  <th>S.NO.</th>
                  <th>Template</th>
                  <th>Template Group</th>
                  <th colspan="3">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% counter = 1 %>
                <% @templates.each do |template| %>
                  <tr>
                    <%= render template, :counter => counter %>
                  </tr>
                  <% counter += 1 %>
                <% end %>
              </tr>
            </tbody>
          </table>
          <div class="fixed-table-pagination">
            <div class="pull-right pagination">
              <%= will_paginate @outros, renderer: BootstrapPagination::Rails %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div><!--/.row-->