<div class="row">
  <ol class="breadcrumb">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active">Templates View page</li>
  </ol>
</div><!--/.row-->
<div class="row">
  <div class="user-info column">
    <table class="table table-responsive">
      <tr>
        <td width="20%">Template Id:</td>
        <td><%= @template.id %></td>
      </tr>
      <tr>
        <td>Message:</td>
        <td><%= @template.message %></td>
      </tr>
    </table>

    <%= link_to raw('<i class="fa fa-chevron-left"></i>Back'), admins_templates_path, class: 'btn btn-danger'  %>
  </div>
</div>