<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
<!--       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="#"><span>PropertySMS</span> Web Admin</a>
      <ul class="user-menu">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
            
  </div><!-- /.container-fluid -->
</nav>