<%# add navigation links to this file %>
<% if admin_signed_in? %>
  <li class="dropdown pull-right">
    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Administrator <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      
    </ul> -->
    <%= link_to raw('<span class="glyphicon glyphicon-log-out"></span> Logout'), destroy_admin_session_path, :method => 'delete' ,class: "btn-sign"%>
  </li>
<% else %>
	<li class="dropdown pull-right">
    	<%= link_to raw('<i class="fa fa-user"></i>Sign in'), new_admin_session_path, class: 'btn-sign' %>
	</li>
    <!-- <li><%#= link_to raw('<i class="fa fa-user-plus"></i>Sign up'), new_admin_registration_path %></li> -->
<% end %>