<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <div style="display:none"><%= params[:controller] %></div>
  <ul class="nav menu">
    <li <%= 'class=active' if params[:controller] == 'admins/dashboard' %>>
      <%= link_to raw('<span class="fa fa-home"></span> welcome'), admins_dashboard_path %>
    </li>
    <li <%= 'class=active' if params[:controller] == 'admins/users' %>>
      <%= link_to raw('<span class="fa fa-user"></span> users'), admins_users_path %>
    </li>
    <li <%= 'class=active' if params[:controller] == 'admins/intros' %>>
      <%= link_to raw('<span class="fa fa-sign-in"></span> intros'), admins_intros_path %>
    </li>
    <li <%= 'class=active' if params[:controller] == 'admins/templates' %>>
      <%= link_to raw('<span class="fa fa-sitemap"></span> templates'), admins_templates_path %>
    </li>
    <li <%= 'class=active' if params[:controller] == 'admins/outros' %>>
      <%= link_to raw('<span class="fa fa-sign-out"></span> outros'), admins_outros_path %>
    </li>
    <li <%= 'class=active' if params[:controller] == 'admins/suburbs' %>>
      <%= link_to raw('<span class="fa fa-sign-out"></span> Manage Suburb'), admins_suburbs_path %>
    </li>
    <li <%= 'class=active' if params[:controller] == 'admins/admins' %>>
      <%= link_to raw('<span class="fa fa-user"></span> Manage Admins'), admins_admins_path %>
    </li>
    <li <%= 'class=active' if params[:controller] == 'admins/sold_properties' %>>
      <%= link_to raw('<span class="fa fa-sitemap"></span> Sold Property'), admins_sold_properties_path %>
    </li>
    <!-- <li><a href=""><span class="fa fa-bar-chart"></span> manage suburb</a></li>
    <li><a href=""><span class="fa fa-cog"></span> user management</a></li> -->
  </ul>
</div><!--/.sidebar-->